<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>后台管理</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="@Url.Content("~/style/css/admin/index.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/script/jquery.js")" type="text/javascript"></script>
</head>
<body>
    <script language="javascript">
        function open(obj)
        {
            var url = $(obj).attr("url");
            $(".leftmenu li").attr("class", "menu");
            $(obj).attr("class", "menu act");
            $("#mainframe").attr("src", url);
        }
        function logout()
        {
            if(confirm("确定要退出后台管理么？"))
            {
                alert("退出了");
            }
        }
    </script>
    <div class="header">
        <div class="head">
            <div class="logo"></div>
            <button class="logout" onclick="logout();">安全退出</button>
        </div>
    </div>
    <div class="clear"></div>
    <div class="content">
        <div class="leftmenu">
            <span class="menutitle">>>导航菜单</span>
            <ul>
                <p class="menusub">系统管理</p>
                <li class="menu act" url="/admin/configs" onclick="open(this);">站点管理</li>
                <li class="menu" url="/admin/adminUsers" onclick="open(this);">管理员管理</li>
                <p class="menusub">商品管理</p>
                <li class="menu" url="/admin/goodsgroups" onclick="open(this);">分类管理</li>
                <li class="menu" url="/admin/goods" onclick="open(this);">商品管理</li>
                <p class="menusub">用户管理</p>
                <li class="menu" url="/admin/goods" onclick="open(this);">商品管理</li>
                <li class="menu" url="/admin/goods" onclick="open(this);">商品管理</li>
                <li class="menu" url="/admin/goods" onclick="open(this);">商品管理</li>
                <li class="menu" url="/admin/goods" onclick="open(this);">商品管理</li>
                <li class="menu" url="/admin/goods" onclick="open(this);">商品管理</li>
            </ul>
        </div>
        <iframe id="mainframe" name="mainframe" scrolling="no" src="/admin/configs" class="frame"></iframe>
    </div>
    <div class="clearline"></div>
    <div class="footer">
        &copy;Copyright by BlueMonster 2016
    </div>
</body>
</html>