<div class="g-footer">
    <div class="m-instruction">
        <div class="g-wrap f-clear">
            <div class="g-main">
                <ul class="m-instruction-list">
                    <li class="m-instruction-list-item">
                        <h5><i class="ico ico-instruction ico-instruction-1"></i>新手指南</h5>
                        <ul class="list">
                            <li><a href="/helper/1-1.shtml" target="_blank">了解1元夺宝众筹平台</a></li>
                            <li><a href="/helper/1-2.shtml" target="_blank">服务协议</a></li>
                            <li><a href="/helper/1-3.shtml" target="_blank">常见问题</a></li>
                            <li><a href="/helper/1-4.shtml" target="_blank">投诉建议</a></li>
                        </ul>
                    </li>
                    <li class="m-instruction-list-item">
                        <h5><i class="ico ico-instruction ico-instruction-2"></i>夺宝保障</h5>
                        <ul class="list">
                            <li><a href="/helper/2-1.shtml" target="_blank">公平保障</a></li>
                            <li><a href="/helper/2-2.shtml" target="_blank">公正保障</a></li>
                            <li><a href="/helper/2-3.shtml" target="_blank">公开保障</a></li>
                            <li><a href="/helper/2-4.shtml" target="_blank">安全支付</a></li>
                        </ul>
                    </li>
                    <li class="m-instruction-list-item">
                        <h5><i class="ico ico-instruction ico-instruction-3"></i>商品配送</h5>
                        <ul class="list">
                            <li><a href="/helper/3-1.shtml" target="_blank">商品配送</a></li>
                            <li><a href="/helper/3-2.shtml" target="_blank">配送费用</a></li>
                            <li><a href="/helper/3-3.shtml" target="_blank">商品验货与签收</a></li>
                            <li><a href="/helper/3-4.shtml" target="_blank">长时间未收到商品</a></li>
                        </ul>
                    </li>
                    <li class="m-instruction-list-item">
                        <h5><i class="ico ico-instruction ico-instruction-4"></i>友情链接</h5>
                        <ul class="list">
                            <li><a href="http://you.163.com/#from=yydb" target="_blank">网易严选</a></li>
                            <li><a href="http://qiye.163.com/#from=yydb" target="_blank">企业邮箱</a></li>
                            <li><a href="http://www.kaola.com/#from=yydb" target="_blank">考拉海购</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="g-side">
                <div class="g-side-l">
                    <ul class="m-instruction-state f-clear">
                        <li><i class="ico ico-state-l ico-state-l-1"></i>100%公平公正公开</li>
                        <li><i class="ico ico-state-l ico-state-l-2"></i>100%正品保证</li>
                        <li><i class="ico ico-state-l ico-state-l-3"></i>100%权益保障</li>
                    </ul>
                </div>
                <div class="g-side-r">
                    <div class="m-instruction-yxCode">
                        <a href="/html/app/intro.htm" target="_blank"><img width="100%" src="http://mimg.127.net/p/one/web/lib/img/common/qrcode_app.png"></a>
                        <p style="line-height:12px;">下载客户端</p>
                    </div>
                    <div class="m-instruction-service">
                        <p>周一至周五：9:00-18:00</p>
                        <p>意见反馈请 <a href="javascript:void(0);" class="btn-feedback" id="btnFooterFeedback">点击这里</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="m-copyright">
        <div class="g-wrap">
            <div class="m-copyright-logo">
                <a href="http://www.163.com" target="_blank"><img width="130" src="http://mimg.127.net/logo/netease_logo-m.gif"></a>
                <a href="/" target="_blank"><img width="117" src="http://mimg.127.net/logo/yy_logo.gif"></a>
            </div>
            <div class="m-copyright-txt">
                <p>杭州妙得科技有限公司运营及版权所有 © 1997-2016 ICP证浙B2-20160106</p>
                <p><a href="http://corp.163.com/index_gb.shtml" target="_blank">关于网易</a><a href="http://mail.163.com/html/mail_intro" target="_blank">关于网易免费邮</a><a href="http://mail.blog.163.com/" target="_blank">邮箱官方博客</a><a href="http://help.163.com" target="_blank">客户服务</a><a href="http://corp.163.com/gb/legal/legal.shtml" target="_blank">隐私政策</a></p>
            </div>
        </div>
    </div>
</div>