<div class="g-header">
    <div class="g-toolbar">
        <div class="g-wrap f-clear">
            <div class="m-toolbar-l">
                <span class="m-toolbar-welcome">欢迎来到一元夺宝！</span>
            </div>
            <ul class="m-toolbar-r">
                <li class="m-toolbar-login">
                    <div id="pro-view-9"><a class="m-toolbar-login-btn" href="javascript:void(0)">请登录</a><a href="http://reg.email.163.com/unireg/call.do?cmd=register.entrance&amp;from=one" target="_blank">免费注册</a></div>
                </li>
                <li class="m-toolbar-myDuobao">
                    <a class="m-toolbar-myDuobao-btn" href="/user/index.do?t=1469356817288">我的夺宝 <i class="ico ico-arrow-gray-s ico-arrow-gray-s-down"></i></a>
                    <ul class="m-toolbar-myDuobao-menu">
                        <li><a href="/user/duobao.do?t=1469356817288">夺宝记录</a></li>
                        <li class="m-toolbar-myDuobao-menu-win"><a href="/user/win.do?t=1469356817288">幸运记录</a></li>
                        <li class="m-toolbar-myDuobao-menu-mall"><a href="/user/mallrecord.do?t=1469356817288">购买记录</a></li>
                        <li class="m-toolbar-myDuobao-menu-gems"><a href="/user/gems.do?t=1469356817288">我的宝石</a></li>
                        <li><a href="/cashier/recharge/info.do">账户充值</a></li>
                    </ul>
                </li>
                <li class="m-toolbar-myBonus"><a href="/user/bonus.do?t=1469356817288">我的红包</a><var>|</var></li>
                <li><a href="http://weibo.com/u/5249249076" target="_blank"><img width="16" height="13" style="float:left;margin:8px 3px 0 0;" src="/style/images/icon_weibo_s.png">官方微博</a><var>|</var></li>
                <li><a href="/groups.do">官方交流群</a></li>
            </ul>
        </div>
    </div>
    <div class="m-header">
        <div class="g-wrap f-clear">
            <div class="m-header-logo">
                <h1><a class="m-header-logo-link" href="/">一元夺宝</a></h1>
                <div class="m-header-slogan">
                    <a class="m-header-slogan-link" href="http://1.163.com/html/app/intro.htm" target="_blank"><img src="http://mimg.127.net/p/yy/hd/150602_appprompt/logo_banner_v3.png"></a>
                </div>
            </div>

            <div class="w-miniCart" module="minicart/MiniCart" id="pro-view-5" module-id="module-5" module-launched="true">
                <a class="w-miniCart-btn" href="javascript:void(0);" data-pro="btn"><i class="ico ico-miniCart"></i>清 单<b class="w-miniCart-count" id="pro-view-8"><i class="ico ico-arrow-white-solid ico-arrow-white-solid-l"></i>0</b></a>
            </div>

            <div class="w-search" module="searchbar/SearchBar" id="pro-view-3" module-id="module-4" module-launched="true">
                <div method="get" name="searchForm" id="searchForm" class="w-search-form f-clear">
                    <div class="w-input" id="pro-view-4"><input class="w-input-input" pro="input" type="text" placeholder="请输入要搜索的商品"></div>
                    <a class="w-search-btn" href="javascript:void(0)"><i class="ico ico-search"></i></a>
                </div>
                <div class="w-search-recKeyWrap">
                    <a class="w-search-recKey" pro="shortcut" href="javascript:void(0);">苹果</a><a class="w-search-recKey" pro="shortcut" href="javascript:void(0);">手机</a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-nav" module="nav/Nav" id="pro-view-2" module-id="module-3" module-launched="true">
        <div class="g-wrap f-clear">
            <div class="m-catlog m-catlog-fold">
                <div class="m-catlog-hd" style="padding-left:30px;cursor:pointer">
                    <h2>商品分类<i class="ico ico-arrow ico-arrow-white ico-arrow-white-down"></i></h2>
                </div>
                <div class="m-catlog-wrap" style="height: 0px;">
                    <div class="m-catlog-bd">
                        <ul class="m-catlog-list">
                            <li><a href="/list.html">全部商品</a></li>
                            <li><a href="/list/1-0-1-1.html">手机平板</a></li>
                            <li><a href="/list/2-0-1-1.html">电脑办公</a></li>
                            <li><a href="/list/3-0-1-1.html">数码影音</a></li>
                            <li><a href="/list/4-0-1-1.html">女性时尚</a></li>
                            <li><a href="/list/5-0-1-1.html">美食天地</a></li>
                            <li><a href="/list/6-0-1-1.html">潮流新品</a></li>
                            <li><a href="/list/7-0-1-1.html">网易周边</a></li>
                            <li><a href="/list/8-0-1-1.html">其他商品</a></li>
                        </ul>
                    </div>
                    <div class="m-catlog-ft"></div>
                </div>
            </div>
            <div class="m-menu" pro="menu">
                <ul class="m-menu-list">
                    <li class="m-menu-list-item" data-name="index">

                        <a class="m-menu-list-item-link" href="/">首页</a>

                    </li>
                    <li class="m-menu-list-item" data-name="ten">
                        <var>|</var>
                        <a class="m-menu-list-item-link" href="/ten/index.html">优选商品</a>

                    </li>
                    <li class="m-menu-list-item" data-name="results">
                        <var>|</var>
                        <a class="m-menu-list-item-link" href="/results.html">最新揭晓</a>

                    </li>
                    <li class="m-menu-list-item" data-name="share">
                        <var>|</var>
                        <a class="m-menu-list-item-link" href="/share.html">晒单分享</a>

                    </li>
                    <li class="m-menu-list-item dropdown" data-name="find">
                        <var>|</var>
                        <a class="m-menu-dropdown" href="javascript:void(0);">发现<i class="ico ico-arrow ico-arrow-gray-s ico-arrow-gray-s-down"></i></a>

                        <ul class="m-menu-dropdown-list" id="pro-view-10" style="width: 160px; display: none;"><li pro="item" data-id="87"><a href="/hd/oneact/hdframe.do?id=87" target="_blank">1块去听张根硕</a></li><li pro="item" data-id="83"><a href="/hd/oneact/hdframe.do?id=83" target="_blank">争分夺秒抢188！</a></li><li pro="item" data-id="82"><a href="/hd/oneact/hdframe.do?id=82" target="_blank">苹果商品全价购</a></li><li pro="item" data-id="81"><a href="/hd/oneact/hdframe.do?id=81" target="_blank">让你信服的夺宝</a></li><li pro="item" data-id="80"><a href="/hd/oneact/hdframe.do?id=80" target="_blank">努比亚Z11抢先购</a></li><li pro="item" data-id="74"><a href="/hd/oneact/hdframe.do?id=74" target="_blank">特惠星期二</a></li></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>